<h1>Добавить новый жанр</h1>

<%= form_with(model: @genre, local: true) do |form| %>
  <% if @genre.errors.any? %>
    <div class="errors">
      <h2>Ошибки:</h2>
      <ul>
        <% genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, 'Название' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, 'Описание' %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit 'Сохранить' %>
  </div>
<% end %>

<%= link_to 'Назад к списку', genres_path %>
