<h1>Добавить нового автора</h1>

<%= form_with(model: @author, local: true) do |form| %>
  <% if @author.errors.any? %>
    <div class="errors">
      <h2>Ошибки:</h2>
      <ul>
        <% @author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, 'Имя' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :birth_date, 'Дата рождения' %>
    <%= form.date_field :birth_date %>
  </div>

  <div>
    <%= form.label :bio, 'Биография' %>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.submit 'Сохранить' %>
  </div>
<% end %>