<h1>Список книг</h1>

<%= link_to 'Добавить книгу', new_book_path, class: 'button' %>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Автор</th>
      <th>Жанр</th>
      <th>Год</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author.name %></td>
        <td><%= book.genre.name %></td>
        <td><%= book.year %></td>
        <td>
          <%= link_to 'Показать', book_path(book), class:'btn-show' %> 
          <%= link_to 'Редактировать', edit_book_path(book), class:'btn-edit' %> 
          <%= link_to 'Удалить', book_path(book), method: :delete, data: { confirm: 'Вы уверены?' }, class:'btn-delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
